form,
.image-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.hide-image-results {
  display: none;
}
.image-container * {
  padding: 20px;
  max-width: 300px;
}

label {
  padding: 20px;
}
button {
  margin: 20px;
}

.error-msg {
  color: red;
  font-weight: bold;
}
